@use "shared";

// Variables for home 
$primary-color : #0f0f0f ;
$color1:purple;
$color2:yellow;
$color3: #3498db; // Light blue
$color4:#1abc9c; // Teal
$circle_color:orange;
$background-color: white;
$padding_body : 10px;
$padding_box: 3px;
$header-bag: rgb(50, 241, 244);

.header
{
 height :100px;
 width: 100%;
 background-color: $header-bag;
 display: flex;
 align-items: center;
}

.circle{
  width: 80px;
  height: 80px;
  background-color: $circle_color;
  border-radius: 50%;
  margin-left: 20px;
}
h1
{
    color: $primary-color;
    margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}


.box
{
  @include shared.box_base;
}

// Individual box colors
.box1 {
  background-color: $color1;
}

.box2 {
  background-color: $color2;
}

.box3 {
  background-color: $color3;
}

.box4 {
  background-color: $color4;
}